@import '../../styles/mixins/index.scss';
@import url(../../styles/colors.scss);

.inputContainer {
  display: flex;
  flex-direction: column;

  .label {
    align-self: flex-start;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--bg-button-disabled);
  }

  .inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.5px solid var(--bg-button-disabled);

    &:focus-within {
      border-color: var(--bg-button-wave);
      border-width: 1px;
    }

    .input {
      width: 100%;
      resize: none;
      padding: 35px 12px 12px 12px;
      box-sizing: border-box;
      background: var(--background-popup);
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: -0.32px;
      color: var(--text-color-black);

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 16px;
        line-height: 20px;
        color: var(--bg-button-disabled);
      }
    }
  }
  .errorMessage {
    @include font-source-sans(13px, var(--color-orange-bright), 400, 16px);
    margin: 8px 0 0;
  }
}
