@import url(../../../styles/colors.scss);

.wrapper {
  width: 283px;
  height: 88px;
  background-color: var(--color-secondary);
  clip-path: polygon(8px 31px, 283px 0, 283px 88px, 0 78px);
  padding-left: 22px;
  padding-top: 36px;
  box-sizing: border-box;
}

.textWrapper {
  width: 140px;
  margin-left: 5px;
}

.ÑircleButton {
  box-shadow: 0px 0px 0px 1px var(--bg-button-disabled) inset;
}

.button {
  all: unset;
  display: flex;
  cursor: pointer;
}

.icon > path {
  fill: var(--background-popup);
}
