@import '../../styles/colors.scss';

.button {
  cursor: pointer;
  box-sizing: border-box;
  padding: 8px 16px;
  font-size: 12px;
  transition: .3s;
  &_viewType_primary {
    border: none;
    color: $background-popup;
    background-color: $color-primary;
    &:hover {
      background-color: $bg-button-sea;
    }
    &:disabled {
      background-color: $bg-button-disabled;
    }
  }
  &_viewType_secondary {
    color: $color-primary;
    border: 1px solid $color-primary;
    background-color: $background-popup;
    &:hover {
      color: $background-popup;
      background-color: $bg-button-sea;
    }
    &:disabled {
      color: $bg-button-disabled;
      border: 1px solid $bg-button-disabled;
      background-color: $background-popup;
    }
  }
}