@font-face {
  src: url("./golos-ui_bold.woff") format("woff"),
    url("./golos-ui_bold.woff2") format("woff2");
  font-family: "Golos";
  font-weight: 700;
}

@font-face {
  src: url("./golos-ui_regular.woff") format("woff"),
    url("./golos-ui_regular.woff2") format("woff2");
  font-family: "Golos";
  font-weight: 400;
}
