@import url(../../styles/colors.scss);
@import url(../../assets/fonts/fonts.css);

.textareaContainer {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .label {
    align-self: flex-start;
    margin-bottom: 5px;
    font-family: 'Golos';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }

  .textareaWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 0.5px solid var(--bg-button-disabled);

    &:focus-within {
      border-color: var(--bg-button-wave);
      border-width: 1px;
    }

    .textarea {
      width: 100%;
      resize: none;
      padding: 15px 15px 30px 12px;
      box-sizing: border-box;
      background: var(--background-popup);
      border: none;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: var(--bg-button-disabled);

      &:focus {
        outline: none;
      }
    }

    .charsCounter {
      padding: 5px 12px 5px 0;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 12px;
      text-align: right;
      color: var(--bg-button-disabled);
      border: none;
    }
  }
}
