@import '../../styles/colors.scss';

.container {
  display: flex;
  margin: 30px 93px 88px;
  gap: 20px;
}

.colorWhiteIcon path {
  fill: #FFFFFF;
}

.colorBlueIcon path {
  fill: $color-primary;
}

.nav {
  padding-top: 90px;
  min-width: 295px;
}

.panel {
  width: 100%;
}

.contactsBody {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
  padding-left: 50px;
}

.contactItem {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, white 0%, #2E3192 60%, #2E3192 40%, white 100%);
  border-image-slice: 1;
}

.contactItemText {
  color: $color-secondary;
  padding-top: 20px;
}

.contactItemValue {
  color: $color-primary;
  padding-bottom: 23px;
}

.feedback {
  padding-top: 20px;
  padding-left: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;

  &__input {
    margin-bottom: 20px;
    width: 100%;
    padding: 9px 10px;
    font-style: normal;
    font-weight: 400;
    color: $text-color-black;
    border: 0.5px solid $color-primary;
    resize: none;
    box-sizing: border-box;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 12px;
      line-height: 14px;
      color: $color-secondary;
    }
  }

  &__label {
    margin-bottom: 5px;
  }

  &__edit {
    border: 0;
    padding: 0;
    margin: 0;
  }

  &__button {
    display: flex;
    justify-content: flex-end;
  }
}