.container {
  display: flex;
  margin: 30px 93px 88px;
  gap: 20px;
}
.opacity {
  opacity: 90%;
  width: 100%;
  height: 80px;
  bottom: -110px;
  max-width: 889px;
  z-index: 10;
  //background: red;
  position: absolute;
  margin-left: 30px;
  background: linear-gradient(0deg, #ffffff 40.1%, rgba(255, 255, 255, 0) 100%);
}
