@import '../../../styles/_mixins.scss';
@import '../../../styles/colors.scss';

.container {
  width: 100%;
  position: relative;
}

.error {
  position: absolute;
  @include font-source-sans(13px, $color-orange-bright, 400, 16px);
  margin: 8px 0 0;
}

.dropdown {
  @include font-source-sans(16px, $bg-button-disabled, 400, 20px);
  width: 100%;
  position: relative;
  text-align: start;
  appearance: none;
  border: 1px solid $bg-button-disabled;
  background: $background-popup;
  outline: none;
  padding: 12px 35px 12px 12px;
  cursor: pointer;

  &_active {
    color: $text-color-black;
  }

  &_error {
    border-color: $color-error-border;
  }

  &_icon {
    content: '';
    position: absolute;
    background: url('../../../assets/icons/dropdown.svg') no-repeat center/cover;
    display: block;
    width: 14px;
    height: 7px;
    top: 50%;
    right: 12px;
  }

  &_close:before {
    @extend .dropdown_icon;
    transform: translateY(-50%) rotate(180deg);
  }

  &_open:before {
    @extend .dropdown_icon;
    transform: translateY(-50%);
  }
}

.dropdownList {
  position: absolute;
  left: 0;
  top: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  background: $background-popup;
  box-shadow: 0px 4px 8px rgba(176, 198, 255, 0.6);
  overflow: hidden;
  width: 100%;
  border-radius: 6px;
  z-index: 1;
}

.dropdownItem {
  margin: 0;
  padding: 0;
  border: 1px solid $bg-button-disabled;
  padding: 12px 35px 12px 12px;
  border-bottom: 0;
  @include font-source-sans(16px, $text-color-black, 400, 20px);
  cursor: pointer;

  &:first-child {
    border-radius: 6px 6px 0 0;
  }

  &:last-child {
    border-radius: 0 0 6px 6px;
  }

  &:hover {
    background: $bg-button-wave;
  }
}

.input {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
}
