:root {
  --color-primary: #2e3192;
  --color-secondary: #9798c9;

  --bg-button-sea: #0071bc;
  --bg-button-wave: #0091c7;
  --bg-button-seaweed: #00a99d;
  --bg-button-grass: #009245;

  --color-orange: #fbb03b;
  --color-blue: #b8e4fa;
  --color-orange-secondary: #f9bc90;
  --color-orange-bright: #f37920;
  --color-salad: #acca3e;
  --color-fuchsia: #d60080;
  --color-fuchsia-secondary: #e97fc0;
  --color-black: #000000;

  --bg-button-disabled: #818c99;

  --background: #fbfdff;
  --background-popup: #ffffff;
}

.color_gradient {
  background-image: linear-gradient(to right, var(--background-popup) 0%, var(--color-primary) 50%, var(--background-popup) 100%);
}
