@import url(../../styles/colors.scss);

.link {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  height: 100%;

  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;

  color: var(--background-popup);
  text-decoration: none;
  line-height: 19px;
}