@import url(../../styles/colors.scss);

.linkCard {
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  max-width: 274px;
  max-height: 113px;

  cursor: pointer;

  border: 1px solid var(--color-black);
  background-color: var(--color-primary);
  transition: .3s;
    &:visited {
      background-color: var(--bg-button-sea);
    }
    &:hover {
      opacity: 0.7;
      background-color: var(--bg-button-sea);
    }
    &:disabled {
      background-color: var(--bg-button-disabled);
    }
}

.link {
  box-sizing: border-box;

  display: flex;
  align-items: center;

  height: 100%;

  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;

  color: var(--background-popup);
  text-decoration: none;
  line-height: 19px;
}

.colorIcon path {
  fill: var(--background-popup);
}