@import '../../styles/color-variables';
@import '../../styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 22px 30px 34px;
  width: 370px;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
}

.checkBoxContainer {
  display: flex;
  align-items: center;
  margin-top: 12px;
  @include font-source-sans(12px, $text-color-black, 400, 14px);
}

.line {
  align-self: center;
  height: 2px;
  width: 80%;
  margin-top: 8px;
  background-image: radial-gradient(
    $color-primary 0% 10%,
    rgba($color-primary, 0.3) 15% 40%,
    $background-popup 100%
  );
}

.button {
  align-self: flex-end;
}

.span {
  margin: 0;
}
