.adminPage {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 30px 93px 0;
    box-sizing: border-box;
    max-height: calc(100vh - 110px);
  }
  
  .adminSidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 295px;
    margin-right: 20px;
    box-sizing: border-box;
  }
  
  .adminContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 940px;
    box-sizing: border-box;
  }

  .userCards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px 50px;
    height: calc(100vh - 250px);
    overflow-y: auto;
    position: relative;
    mask-image: linear-gradient(to bottom, white 0%, white 80%, transparent 100%);
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
    &::-webkit-scrollbar {
        display: none;
      }
  }
  
  .userCard {
    padding-top: 30px;
    box-sizing: border-box;
  }
  