@import url(../../styles/colors.scss);

.header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--pickerdate-border);
}

.navLogo {
  padding-left: 93px;
  padding-right: 124px;
  padding-bottom: 8px;
}
