@import "../../styles/mixins/index.scss";
@import "../../styles/colors.scss";

.name {
    @include font-source-sans(12px, var(--text-color-black), 400, 14px);
    margin-bottom: 5px;
}

/* .data .react-datepicker__month-container {
    background-color: var(--background-popup);
    &:hover {
        background-color: var(--color-primary);
    }
} */

@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';
@import './variables.scss';

$datepicker__background-color: #ca0a0a !default;

.data div{
    background-color: var(--background-popup);
    & div div div div div div:first-child {
        border: 0.5px solid var(--pickerdate-border);
        background-color: red;
    }
    & div div div div div{
        &:today{
            background-color: var(--color-primary);
        }
     //   
        &:hover {
            background-color: var(--color-secondary);
            border-radius: 1px solid;
        }
    }
}
// class="react-datepicker__day react-datepicker__day--026 react-datepicker__day--selected react-datepicker__day--today"
/* @import "node_modules/react-datepicker/src/stylesheets/datepicker.scss";

.react-datepicker{
    background-color: var(--background-popup) !default;
}

.react-datepicker__month-container {
    background-color: #081833;
    color: #969eac;
    font-size: 1rem;
    font-family: "Mulish";

    .react-datepicker__month {
        padding: 1rem 0;
    }

    .react-datepicker__month-text {
        display: inline-block;
        width: 5rem;
        margin: 0.5rem;
        font-size: 1rem;
        padding: 0.2rem;
        &:hover {
            background-color: #534cea;
        }
    }
} */
