@import '../../../styles/colors.scss';

.container {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  max-width: 370px;
  width: 100%;
}

.block {
  box-sizing: border-box;

  padding-bottom: 20px;
}

.datePicker {
  box-sizing: border-box;

  padding-bottom: 10px;
}

.category {
  column-count: 2;

  list-style: none;

  margin: 0;
  padding: 0;
}

.border {
  box-sizing: border-box;

  border-bottom: 1px solid $black;
  opacity: 0.3;

  margin-top: 5px;
  margin-bottom: 10px;
}

.btn {
  display: flex;
  justify-content: flex-end;
}