.recipientPage {
  margin: 30px 93px 88px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 0.1fr 1fr;
}

.recipientPage__applications {
  display: flex;
  flex-direction: column;
  gap: 45px;
}