@import '../../../styles/mixins';
@import '../../../styles/colors.scss';

.checkbox_invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(0 0 0 0);
  margin: 0;
  cursor: pointer;

  &:checked {
    &+.checkbox_visible {
      background-color: $color-primary;
      border: none;
      background-image: url(../../../assets/icons/check.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:disabled {
      &+.checkbox_visible {
        opacity: 0.4;
      }
    }
  }

  &:disabled {
    &+.checkbox_visible {
      opacity: 0.4;
    }
  }
}

.checkbox_visible {
  height: 20px;
  width: 20px;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  border: 2px solid #b8c1cc;
  margin-right: 12px;
  border-radius: 4px;
}

.checkbox_label {
  @include font-source-sans(12px, $black, 400, 14px);
  cursor: pointer;
}