/* .aplicationCard{
  width: 889px;
  max-height: 219px;
  display: flex;
  gap: 54px;
} */

.aplicationCard{
  max-width: 889px;
  min-height: 219px;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.1fr;
  grid-template-rows: 0.5fr 3fr;
  grid-template-areas:
  'category-bar category-bar user buttons'
  'first-column first-column user buttons';
  align-items: start;
}

@media screen and (max-width: 720px) {
  .aplicationCard {
    max-width: 365px;
    height: 436px;
    grid-template-columns: 2fr 0.1fr;
    grid-template-rows: 0.5fr 2fr 3fr;
    grid-template-areas:
    'category-bar buttons'
    'user buttons'
    'first-column complitedApp';
    row-gap: 20px;
  }
}

.aplicationCard__categoryBarContainer {
  grid-area: category-bar;
  padding-top: 5px;
}

.aplicationCard__firstColumn {
  grid-area: first-column;
  display: flex;
  flex-direction: column;
}

.aplicationCard__mainInfo {
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 720px) {
  .aplicationCard__mainInfo {
    flex-direction: column;
  }
}

.aplicationCard__dateTimeLocation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media screen and (max-width: 720px) {
  .aplicationCard__dateTimeLocation {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .aplicationCard__dateTimeLocation_type_smallScreen {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .aplicationCard__dateTimeLocation_type_smallScreen {
    order: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    'date time'
    'location location';
    column-gap: 40px;
  }   
}

.aplicationCard__dateContainer {
  grid-area: date;
  max-width: 153px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 5px;
}

.aplicationCard__timeContainer {
  grid-area: time;
  max-width: 153px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 5px;
}

.aplicationCard__locationContainer {
  grid-area: location;
  max-width: 166px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 5px;
}

.aplicationCard__about {
  max-height: 149px;
  display: flex;
  flex-direction: column;
}

.aplicationCard__textContainer {
  max-width: 397px;
  max-height: 65px;
  padding-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}

@media screen and (max-width: 720px) {
  .aplicationCard__textContainer {
    max-height: 108px;
    max-width: 275px;
    padding-top: 5px;
    margin-bottom: 5px;
  }
}

.aplicationCard__textAbout {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 720px) {
  .aplicationCard__textAbout {
    -webkit-line-clamp: 4;
  }
}

.aplicationCard__textAboutLink {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.aplicationCard__completedQuantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

@media screen and (max-width: 720px) {
  .aplicationCard__completedQuantity {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .aplicationCard__completedQuantity_type_smallScreen {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .aplicationCard__completedQuantity_type_smallScreen {
    grid-area: complitedApp;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.aplicationCard__userColumn {
  grid-area: user;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-right: 50px;
  padding-left: 54px;
}

.aplicationCard__buttonsColumn {
  grid-area: buttons;
  
}