.aplicationCard{
  max-width: 889px;
  min-height: 219px;
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr 0.1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-template-areas:
  'category-bar category-bar user buttons'
  'dateTimeLocation about user buttons';
}

.aplicationCard__categoryBarContainer {
  grid-area: category-bar;
  padding-top: 5px;
}

.aplicationCard__dateTimeLocation {
  grid-area: dateTimeLocation;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.aplicationCard__dateContainer {
  max-width: 153px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 5px;
}

.aplicationCard__timeContainer {
  max-width: 153px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 5px;
}

.aplicationCard__locationContainer {
  max-width: 166px;
  display: flex;
  align-items: center;
  padding-left: 2px;
  gap: 5px;
}

.aplicationCard__about {
  grid-area: about;
  max-height: 149px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.aplicationCard__textContainer {
  max-width: 397px;
  max-height: 65px;
  padding-top: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}

.aplicationCard__textAbout {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.aplicationCard__textAboutLink {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.aplicationCard__completedQuantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.aplicationCard__userColumn {
  grid-area: user;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding-right: 50px;
  padding-left: 54px;
  padding-top: 7px;
}

.aplicationCard__buttonsColumn {
  grid-area: buttons;
  display: flex;
  flex-direction: column;
  gap: 10px;
}