@import '../../../styles/colors.scss';

.socialsList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 20px;
  padding-left: 50px;
}

.socialsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 17px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, white 0%, $color-primary 60%, $color-primary 40%, white 100%);
  border-image-slice: 1;
}

.socialsTitle {
  color: $color-secondary;
  padding-top: 20px;
}

.socialsLink {
  color: $color-primary;
  padding-bottom: 23px;
  transition: opacity .3s;
  &:hover {
    opacity: .8;
  }
}

.colorBlueIcon path {
  fill: $color-primary;
}